* {
    margin: 0;
    padding: 0;
}

body {
    background:white;
    font-family: 'Manjari', sans-serif;
}
.container{width: 100%;
margin: auto;
display:grid;
gap: 1px;
grid-template-columns: repeat(6,1fr);}

.container>.header{
    grid-column: 1/7;
    padding:auto;
    background:white;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
}

.footer{
    background-color:rgb(28, 149, 197);
    grid-column: 1/7;
    margin-top:10%;
}

.footer>div{float: left;
margin-left: 40px;
margin-top: 10px;
font-family: roboto;}

#te{margin-top: 20px;font-family: roboto;}
#co{margin-top:75px;margin-left: 320px;font-family: roboto;}




.menu{grid-column: 1/7;}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(98, 8, 116);
  }
  
  li {
    float: left;margin-left: 8.5%;
    margin-top: 3px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(245, 189, 228);
  }

#titulo{color:rgb(251, 187, 32);;
    text-align: left;
    margin-top: 5%;
    margin-left: 40px;
    font-size: 70px;
    font-family: arlon;
}
#juego{margin-left: 300px;
    margin-top: -100px;
    margin-bottom: -99px;


}
#ma{font-family: arlon;}
